
<h3 class="text-center"><%= @book_info.volume_info.title %></h3>

<div class="row">
  <aside class="col-md-4">
    <img src="<%= @book_info.volume_info.image_links==nil ? '' : @book_info.volume_info.image_links.thumbnail %>" alt="サムネイル">
  </aside>
  <aside class="col-md-8">
    <p> 著者: 
    <% Array(@book_info.volume_info.authors).each do |author| %>
      <%= author %>
    <% end %>
    </p>
    <p> 出版社: <%= @book_info.volume_info.publisher %> </p>
    <p> 発売日: <%= @book_info.volume_info.published_date %></p>
    <% Array(@book_info.volume_info.industry_identifiers).each do |identifier| %>
    <p> <%= identifier.type %> : 
        <%= identifier.identifier %> </p>
    <% end %>
  </aside>
  <div class="clearfix"></div>
  <%= @book_info.volume_info.description %>
</div>

<%= render 'reviews/button',book_info: @book_info,review_info: @reviews %>

<% if @book_data %>
  <h3>レビュー一覧</h3>
  <%= render 'reviews/list',reviews: @book_data.reviews.page(params[:page]).per(5) %>
<% end %>