<div class="row">
  <div class="col-md-offset-1 col-md-10">
     <div class="panel panel-info">
        <% reviews.each do |review| %>
            <div class="panel-heading">
                <h3 class="panel-title"><%= link_to review.book.title, detail_path(review.book.code) %></h3>
                <h6><%= review.updated_at %></h6>
            </div>
            <div class="panel-body">
                <aside class="col-md-3">
                    <img src="<%= review.book.image_url %>">
                </aside>
                <aside class="col-md-7">
                    <p> <%=link_to review.user.name+'さんのレビュー',review_path(review) %> </p>
                     <% color = case review.status %>
                        <% when 'want' then '#0000ff' %>
                        <% when 'read' then '#00ff00' %>
                        <% when 'stop' then '#ff0000' %>
                     <% end %>
                     <% content_string = case review.status %>
                        <% when 'want' then 'ほしい' %>
                        <% when 'read' then 'よんだ' %>
                        <% when 'stop' then 'やめた' %>
                     <% end %>
                      読書状況：<font color="<%= color %>"><%= content_string %></font>

                    <div class="well well-lg"><%= review.content %></div>
                </aside>
            </div>
        <% end %>
        
     </div>
     <div class="text-center">
        <%= paginate reviews if reviews %>
    </div>
  </div>
</div>