<div class="header">
  <div class="text-center">
    <h3><%= link_to @review.user.name,@review.user %>さんのレビュー</h3>
  </div>
</div>
<div class="col-md-offset-1 col-md-5">
  <%= @review.book.title %>
</div>
<div class="col-md-offset-2 col-md-4">
  <% color = case @review.status %>
    <% when 'want' then '#0000ff' %>
    <% when 'read' then '#00ff00' %>
    <% when 'stop' then '#ff0000' %>
  <% end %>
  <% content_string = case @review.status %>
    <% when 'want' then 'ほしい' %>
    <% when 'read' then 'よんだ' %>
    <% when 'stop' then 'やめた' %>
  <% end %>
  
  読書状況：<font color="<%= color %>"><%= content_string %></font>
</div>
<div class="col-md-offset-1 col-md-10">
  <div class="well"><%= @review.content %></div>
</div>

